@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000000;
  --background-rgb: #F8F8FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #000000;
    --background-rgb: #F8F8FF;
  }
}

.container {
  width: 99vw;
  max-width: 99vw;
  height: 89vh;
  max-height: 89vh;
}